

  <div class="card card-image " , style="height: 150px">
    <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3 thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
  </div>
<% end %>
  </div>
<%=will_paginate @movies, renderer: BootstrapPagination::Rails,previous_label: "Backward Move", next_label: "Forward Move", inner_window:0, outer_window:0%>